.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#Nav{
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  
  z-index: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0e1111;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#img{
  border-radius: 50px;
}

#pic-1{
  border-radius: 50px;
}

#intro{
  position: absolute;
  color:	cadetblue;
  bottom: 15rem;
  padding: 2rem;
}

.margin{
   margin: 2rem;
}
#container{
  top: 3rem;
  position: relative;
}

#text{
font-family: cursive;
}
#highlights{
  position:relative;
  top: 5rem;
}
#row{
  position:relative;
  top: 5rem;
}
#imgCarousel{
   border-radius: 50px;
}
#Home-Section{
  min-height: 100px;
}

/* #carousel{
  text-align: center;
} */